body {
    background-color: rgb(120, 17, 130);
    margin: 0;
    font-family: rubik;
    color: white;
  }
  .container {
    padding: 10px 40px;
    margin: 0 auto;
    text-align: center;
  }

  .header{

   width: 100%s;
   text-align: center;
  }


  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
    margin: 10px;
  }

  h3{
    margin: 5px;
  }

  h4{
    text-align: right;
    margin: 0;
  }

 
  .tached{
    text-decoration:underline
  }

  .anchorLink{
    text-decoration: none;
    color: white;
    text-align: right;
   
  }

  input{
    padding: 10px;
  }

  #searchBtn{
    
    border: #f4f4f4 2px solid;
  }

  .card {
    list-style: none;
    padding: 20px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    
  }

  .card-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    font-weight: 900;
  }

 

  .favorite{
    position: relative;
    right: -60px;
    top: -25px;
    color:#cc0a0a;
  }

  .cp{
    position: relative;
    top: 0px;
    right: 0px;
  }



  .favorited{
    position: relative;
    right: -75px;
    top: -26px;
    color:#c01212;
    font-weight: 700;
    font-size: 30;
  }

    .favorite:hover, .favorited:hover{
      cursor: pointer;
    }

  .card-subtitle {
    font-weight: lighter;
    color: #666;
    margin-top: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    
  }

  .subtitle{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    
  }

  .bold-subtitle{
    font-weight: 900;
  }

 
  .card-image {
    height: 130px;
    padding: 0;
    margin: 0;
   
  }

  #pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
   
  }
  .card:hover {
    animation: bounce 0.5s linear;
  }


  .link-top{
    color: white;
    padding: 5px;
    background-color: red;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    right: 2px;
    bottom: -10px;
    border: 1px white solid;
  }

  .material-symbols-outlined{
    font-size: 30px;
  }

  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }

  .borderStyle{
    padding: 15px;
    border-radius: 5px;

  }

  .grass{
    border: 2px green solid;
    background-color: rgba(0, 128, 0, 0.2);
   
  }

  .ground{
    border: 2px solid rgb(141, 131, 131);
    background-color: rgba(141, 131, 131, 0.2);
    
  }
  
  .water, .ice{
    border:2px solid rgb(23, 181, 202);
    background-color: rgba(23, 181, 202, 0.2);

  
  }
  .fire{
    border: 2px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
    

  
  }

  .bug {
    border: 2px solid rgb(140, 0, 255);
    background-color: rgba(140, 0, 255, 0.2);

   
  }

  .fighting  {
    border: 2px solid rgb(226, 205, 15);
    background-color: rgb(226, 205, 15,  0.2);

  }

  .poison  {
    border: 2px solid rgb(15, 226, 156);
    
  }

  .electric   {
    border: 2px solid rgb(114, 97, 19);
    background-color: rgb(114, 97, 19,  0.2);

    
  }

  .normal{
    border: 2px solid rgb(75, 57, 10);
    background-color: rgb(75, 57, 10,  0.2);

  }
  .fairy{
    border: 2px solid rgb(165, 21, 158);
    background-color: rgb(165, 21, 158,  0.2);

  }

  .rock{
    border: 2px solid rgb(114, 10, 10);
    background-color: rgb(114, 10, 10,  0.2);

  }

  .psychic{
    border: 2px solid rgb(23, 55, 124);
    background-color: rgb(23, 55, 124,  0.2);

  
  }

  .dragon{
    border: 2px solid rgb(124, 14, 87);
    background-color: rgb(124, 14, 87,  0.2);

  }

